/* Write your CSS code here */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: 'Roboto';
}
.contact-img {
  width: 15%;
}
.contact {
  color: #6d396b;
}
